<div class="text-center" style="margin: 50px 0">
    <p class="h1 text-success">
        <span class="glyphicon glyphicon-ok"></span>
        Objednávka odeslána
    </p>
    <p class="h4">
        Pro více informací sledujte svůj e-mail.
    </p>
</div>
