{% extends '@App/Order/summary.html.twig' %}

{% block content %}
    {{ parent() }}

    <div class="h4">Fakturační údaje</div>

    <table class="table">
        <tr>
            <th>Jméno:</th>
            <td>{{ order.customer.name }}</td>
        </tr>
        <tr>
            <th>E-mail:</th>
            <td>{{ order.customer.email }}</td>
        </tr>
        <tr>
            <th>Adresa:</th>
            <td>{{ order.customer.address|nl2br }}</td>
        </tr>
    </table>
    <a href="javascript://void" class="btn btn-default">Změnit</a>
    <a href="javascript://void" class="btn btn-primary">Objednat</a>
{% endblock %}
