<!DOCTYPE HTML>
<html lang="{{ site.blog.lang }}">
<head>
    {% include http_headers.html %}
    {% include meta.html %}
    <title>{% if site.blog.title != page.title %}{{ site.blog.title }} - {% endif %}{{ page.title }}</title>
    {% include cdn/bootstrap.html to="head" %}
    {% include cdn/font-awesome.html to="head" %}
    {% include cdn/cookieConsent2.html to="head" %}
    {% include cdn/pygments.html to="head" %}
    {% include cdn/facebook.html to="head" %}
    <link rel="stylesheet" href="{{ site.url }}/assets/style.css">
    <link rel="stylesheet" href="{{ site.url }}/assets/blog/style.css">
</head>
<body>
<div class="blog-body">
    <div class="container">
        <header class="row">
            <p class="col-md-9 page-header blog-header">
                <a href="{{ site.blog.urls.home }}" class="h1">{{ site.blog.title }}</a>
            </p>
        </header>
        <div class="row">
            <div class="blog-menu col-md-3">
                <nav class="blog-menu-links">
                    {% include links.html a_class="btn btn-link" %}
                </nav>
                <nav class="blog-menu-categories">
                    <ul class="nav nav-pills nav-stacked">
                        {% assign tags_list = site.categories %}
                        {% for position in (1..99) %}
                        {% for tag in tags_list %}
                        {% assign tmp_tag_page = (site.pages | where: "category", tag[0] | first) %}
                        {% if tmp_tag_page.position == position %}
                        <li {% if page.category == tag[0] %}class="active" {% endif %}>
                            <a href="{{ tmp_tag_page.url }}.html">
                                {{ tmp_tag_page.title }}
                                <span class="badge pull-right">{{ tag[1].size }}</span>
                            </a>
                        </li>
                        {% break %}
                        {% endif %}
                        {% assign tmp_tag_page = null %}
                        {% endfor %}
                        {% endfor %}
                        {% assign tags_list = null %}
                    </ul>
                </nav>
                <p class="blog-menu-issues small hidden-sm hidden-xs">
                    Found a mistake?
                    <span class="fa fa-bug" aria-hidden="true"></span>
                    <a href="{{ site.blog.urls.issues }}">Create an issue</a>.
                </p>
            </div>
            <main class="blog-content col-md-6">
                {{ content }}
            </main>
        </div>
        <footer class="blog-footer">
            {% include footer.html %}
        </footer>
    </div>
</div>
{% include cdn/jQuery.html to="body" %}
{% include cdn/cookieConsent2.html to="body" %}
{% include cdn/pygments.html to="body" %}
{% include cdn/facebook.html to="body" %}
{% include google_analytics.html %}
</body>
</html>
