<!DOCTYPE HTML>
<html lang="{{ page.lang }}">
<head>
    {% include http_headers.html %}
    {% include meta.html %}
    <title>{{ page.title }}</title>
    {% include cdn/bootstrap.html to="head" %}
    {% include cdn/font-awesome.html %}
    {% include cdn/reveal.js.html to="head" %}
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/gh/hakimel/reveal.js@3.7.0/css/theme/black.css"
          integrity="sha384-cn9dilqoer4cWsW00FCDy1KoGoUYTsraspG21/OkBdSU4IzGLmis2B/dfq/lWjZH"
          crossorigin="anonymous">
    {% include cdn/cookieConsent2.html to="head" %}
    <link rel="stylesheet" href="{{ site.url }}/assets/style.css">
    <link rel="stylesheet" href="{{ site.url }}/assets/web/style.css">
</head>
<body>
<header class="hidden">
    <h1>{{ page.title }}</h1>
    <p>{{ page.description }}</p>
</header>
<div class="reveal">
    <div class="slides">
        {% for section in page.sections %}
        {% if section.hidden %}{% else %}
        {% if section.slides %}
        <section>
            {% endif %}
            <section>
                {{ section.content | markdownify }}
            </section>
            {% if section.slides %}
            {% for slide in section.slides %}
            {% if slide.hidden %}{% else %}
            <section>
                {{ slide.content | markdownify }}
            </section>
            {% endif %}
            {% endfor %}
            {% endif %}
            {% if section.slides %}
        </section>
        {% endif %}
        {% endif %}
        {% endfor %}
    </div>
</div>
<footer class="web-footer row">
    <div class="web-footer-menu pull-right">
        <ul class="list-unstyled list-inline">
            {% for item in site.web.menu %}
            <li>
                <a href="{{ item.url }}">{{ item.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="web-footer-links col-md-3">
        <div>{% include links.html a_class="btn btn-link padding0px2px" %}</div>
    </div>
    <div class="web-footer-info col-md-6">
        {% include footer.html %}
    </div>
</footer>
{% include cdn/jQuery.html to="body" %}
{% include cdn/reveal.js.html to="body" %}
{% include cdn/cookieConsent2.html to="body" %}
<script type="application/javascript" src="{{ site.url }}/assets/web/script.js"></script>
{% include google_analytics.html %}
</body>
</html>
