{% if include.to == "head" %}
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.2/cookieconsent.min.css"
      integrity="sha256-RWqxpxUH7ZGrrhTJ0I+v+zc6e8cRpm5ENBt7i3u3KrQ="
      crossorigin="anonymous">
<script>
    var cookieConsentQueue = [];
</script>
{% endif %}

{% if include.to == "body" %}
<div id="CookieConsent"></div>
<script type="application/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.2/cookieconsent.min.js"
        integrity="sha256-KJg6h+Z4gtMtp25btuUpnyEclHY3dU588fYFNGdBFas="
        crossorigin="anonymous"></script>
<script>
    window.addEventListener("load", function () {
        var statusCookie = "cookieConsentStatus";
        var onStatusChange = function () {
            if (window.cookieconsent.utils.getCookie(statusCookie) == window.cookieconsent.status.allow) {
                cookieConsentQueue.forEach(function(callback) {
                    callback();
                });
            }
        };
        window.cookieconsent.initialise({
            "container": document.getElementById("CookieConsent"),
            "palette": {
                "popup": {
                    "background": "#ccc"
                },
                "button": {
                    "background": "#333"
                }
            },
            "showLink": false,
            "theme": "edgeless",
            "position": "bottom-right",
            "content": {
                "message": "Website uses cookies to distinguish you from other users.",
                "dismiss": "Decline"
            },
            "type": "opt-in",
            "cookie": {
                "name": statusCookie
            },
            "onStatusChange": onStatusChange
        });
        onStatusChange();
    });
</script>
{% endif %}
