{% if include.to == "head" %}
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.8.8/jquery.fullPage.min.css"
      integrity="sha256-hV3yBsdy+kVOfeF1fwdxgGQkwQ4WynnzyeDkGA7k+Kg="
      crossorigin="anonymous">
{% endif %}

{% if include.to == "body" %}
<script type="application/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.8.8/jquery.fullPage.min.js"
        integrity="sha256-0Mj4BowzbaZR8X5b6eIlJhNLItzMo/C/lUkxO5YqpgE="
        crossorigin="anonymous"></script>
{% endif %}
