{% if include.to == "head" %}
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.7.0/css/reveal.min.css"
      integrity="sha256-9+Wg2bcNeiOMGXOUNqBdceY2lAH/eCiTDcdzHhHIl48="
      crossorigin="anonymous">
{% endif %}

{% if include.to == "body" %}
<script type="application/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.7.0/js/reveal.min.js"
        integrity="sha256-Xr6ZH+/kc7hDVReZLO5khBknteLqu5oen/xnSraXrVk="
        crossorigin="anonymous"></script>
{% endif %}
