.web-footer {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 10pt;
    position: fixed;
    z-index: 70;
    bottom: 0;
    margin: 0;
    width: 100%;
    border-top: 1px solid #ccc;
    background: #fff;
    padding: 5px 5px 0 5px;
}

.web-footer-links {
    z-index: -999;
}

.reveal .controls {
    margin-bottom: 10pt !important;
}

body {
    background-color: rgb(0, 0, 0);
    background-image: url('IMG_20181018_080933.jpg');
    background-size: cover;
}

body > .reveal {
    background-color: rgba(2, 84, 125, 0.9);
}
