.body-web {
    margin: 25px;
}

.body-web section h2 {
    margin-top: 2.5em;
}

.jumbotron, .carousel-control, .carousel .jumbotron {
    background: none!important;
    border: none!important;
}

.carousel-control, .carousel-indicators {
    filter: invert(100%);
}

.web-footer {
    border-top: 1px solid #eee;
    margin: 0;
    width: 100%;
    position: relative;
    top: 25px;
}
