body {
    background-color: #333;
}

article p {
    text-align: justify;
}

article img.img-responsive {
    margin-left: auto;
    margin-right: auto;
}

.blog-body {
    background-color: #fff;
    border-bottom: 1px solid #999;
}

.blog-header {
    padding-bottom: 20px;
}

.blog-footer a, .blog-footer a:hover {
    color: #bbb;
}

.blog-menu {
    padding-right: 40px;
}

.blog-menu-links {
    text-align: center;
    border: 1px solid #eee;
    border-radius: 4px;
    background: #f5f5f5;
    margin-bottom: 15px;
}

.blog-content {
    margin-bottom: 40px;
}

.blog-footer {
    position: absolute;
    left: 0;
    width: 100%;
    color: #999;
    text-align: center;
    margin-top: 10px;
    padding: 10px;
}
