{% if site.author.web and page.layout != "web" %}
<a href="{{ site.author.web }}" class="{{ include.a_class }}">
    <span class="fa fa-globe" aria-hidden="true"></span>
    <span class="sr-only">web</span>
</a>
{% endif %}

{% if site.author.blog and page.layout == "web" %}
<a href="{{ site.author.blog }}" class="{{ include.a_class }}">
    <span class="fa fa-pencil-square" aria-hidden="true"></span>
    <span class="sr-only">blog</span>
</a>
{% endif %}

{% if site.author.rss %}
<a href="{{ site.author.rss }}" class="{{ include.a_class }}">
    <span class="fa fa-rss" aria-hidden="true"></span>
    <span class="sr-only">RSS</span>
</a>
{% endif %}

{% if site.author.github %}
<a href="{{ site.author.github }}" class="{{ include.a_class }}">
    <span class="fa fa-github" aria-hidden="true"></span>
    <span class="sr-only">GitHub</span>
</a>
{% endif %}

{% if site.author.linkedin %}
<a href="{{ site.author.linkedin }}" class="{{ include.a_class }}">
    <span class="fa fa-linkedin" aria-hidden="true"></span>
    <span class="sr-only">LinkedIn</span>
</a>
{% endif %}

{% if site.author.twitter %}
<a href="{{ site.author.twitter }}" class="{{ include.a_class }}">
    <span class="fa fa-twitter" aria-hidden="true"></span>
    <span class="sr-only">Twitter</span>
</a>
{% endif %}

{% if site.author.donate %}
<a href="{{ site.author.donate }}" class="{{ include.a_class }}">
    <span class="fa fa-gift" aria-hidden="true"></span>
    <span class="sr-only">Donate</span>
</a>
{% endif %}
