id,seller,buyer,issueDate,dueDate,description,quantity,unit,unitPrice,currency
2019001,me,company1,2019-05-24,2019-06-07,Creation of the first invoice,1,pcs,79.50,CZK
2019002,me,company2,2019-05-24,2019-06-07,Creation of the second invoice,1,pcs,79.50,CZK
,,,,,Consultation,40,h,600,CZK
