{% extends "@MarkdownWeb/list.html.twig" %}

{% block list %}
    <div class="list-group">
        {% block list_content %}{{ parent() }}{% endblock %}
    </div>
{% endblock %}

{% block item %}
    {% block item_content %}
        <a href="{{ item.url }}"
           class="list-group-item{% if url == item.url or (item.gallery is defined and url starts with item.url) %} active{% endif %}">
            {{ item.title }}
        </a>
    {% endblock %}
{% endblock %}
