{% extends "@MarkdownWeb/list.html.twig" %}

{% block list %}
    <div class="shop-previews">
        {% block list_content %}{{ parent() }}{% endblock %}
    </div>
{% endblock %}

{% block item %}
    <div class="shop-preview col-xs-12 col-sm-6 col-md-4">
        {% block item_content %}
            <h2 class="h4">
                <a href="{{ item.url }}">
                    {{ item.title }}
                </a>
            </h2>
            <div>
                {% include "@MarkdownWeb/shop.cart_price_image.html.twig" with {item: item} %}
            </div>
            <p>{{ item.description }}</p>
        {% endblock %}
    </div>
{% endblock %}
