{% extends "@MarkdownWeb/layout.html.twig" %}

{% block menu %}
    {{ render_index("@MarkdownWeb/menu.html.twig", {"layout": "web.html"}, "priority:asc") }}
{% endblock %}

{% block content %}
    <h1{% if page.jumbotron is defined %} class="hidden"{% endif %}>{{ page.title }}</h1>
    {{ content|raw }}
{% endblock %}
