RewriteEngine On
RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} petrknap.cz
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteRule ^$ index.php?page=
RewriteRule ^(.*)\.html$ index.php?page=$1
RewriteRule ^sitemap\.xml$ index.php?sitemap=xml
