body {
    padding-top: 70px;
    overflow-x: hidden;
}

footer {
    text-align: right;
}

body > .container {
    overflow-x: hidden;
}

.well-header {
    /* TODO background-image: url('header.jpg'); */
}

.off-canvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
    right: 0;
}

.off-canvas.active {
    right: 50%;
}

.off-canvas #menu {
    position: absolute;
    top: 0;
    margin-right: 5px;
    width: 50%;
    right: -50%;
}

.js__modal_loading {
    text-align: center;
    font-size: 10em;
    margin: 25px;
}

#content > section > p {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.shop-preview {
    height: 250px;
}

.shop-preview img {
    min-height: 50px;
}
