body {
    padding-top: 70px;
    overflow-x: hidden;
}

footer {
    text-align: right;
}

body > .container {
    overflow-x: hidden;
}

.well-header {
    background-image: url('/image/well_header/header.jpg.png');
    background-position: center center;
}

.off-canvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
    right: 0;
}

.off-canvas.active {
    right: 50%;
}

.off-canvas #menu {
    position: absolute;
    top: 0;
    margin-right: 5px;
    width: 50%;
    right: -50%;
}

.js__modal_loading {
    text-align: center;
    font-size: 10em;
    margin: 25px;
}

#content > section > p {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.shop-previews, .gallery-previews {
    display: flex;
    flex-wrap: wrap;
}

.shop-preview, .gallery-preview {
    margin-top: 5px;
}

.shop-preview {
    position: relative;
    bottom: 20px;
}

.shop-preview h2.h4 {
    display: table;
    min-height: 60px;
}
.shop-preview h2.h4 a {
    display: table-cell;
    vertical-align: bottom;
    position: relative;
    top: 20px;
}

.shop-preview p {
    position: relative;
    bottom: 25px;
}

.shop-image {
    width: 100%;
}

.shop-price {
    position: relative;
    top: 15px;
    z-index: 1;
}

.shop-basket-input {
    max-width: 125px;
    position: relative;
    bottom: 30px;
    z-index: 1;
}
